{{#link-to "maps.new" class="btn btn-primary" }}New Map{{/link-to}}
<ul>
{{#each model as |map|}}
  <li>
    <a {{action "getMap" map.id }}>
      {{map.title}}
    </a>
  </li>
{{/each}}
</ul>

{{outlet}}
