* {
  margin : 0;
  padding : 0;
}
/*
  rgba(39, 137, 216, .95)
*/

body {
  background-color: rgba(39, 137, 216, .10);
}

#mindmap-navbar {
  background-color: rgba(39, 137, 216, .95);
}

#mindmap-navbar a{
  color: #fff !important;
}

#mindmap-container {
  width : 100%;
  height:100vh;
}

#tool {

}
#tool rect.tool-button {
  fill: grey;
  rx : 6;
  ry : 6;
  x : 97%;
}


/*login*/
#login-box {
  margin : 50px auto 0px;
  padding : 30px 10px 10px;
  background-color: rgba(39, 137, 216, .20);
  max-width: 600px;
  box-shadow: rgba(0, 0, 0, 0.74902) 0px 0px 45px -2px;
  /*10px 10px 5px #888888;*/
  border-radius: 10px;
}
