<!-- <g id="tool" transform="translate(0,0)">
  <rect class="tool-button" y="5" width="25" height="40"></rect>
  <rect class="tool-button" y="50" width="25" height="40"></rect>
  <rect class="tool-button" y="95" width="25" height="40"></rect>
  <rect class="tool-button" y="140" width="25" height="40"></rect>
  <text class="tool-button" x="97%" y="140" fill="blue" {{action 'postMap'}} >Save</text>
</g> -->
<div>
  <a href="#" onclick="return false;">Hello Tool!</a>
</div>
